name: nocab_desktop
description: File sharing application

publish_to: 'none' 
version: 1.3.4+1

environment:
  sdk: ">=3.0.0-62.0.dev <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  qr_flutter: ^4.0.0
  flutter_svg: ^1.1.4
  device_info_plus: ^8.0.0
  window_manager: ^0.2.6
  provider: ^6.0.3
  smooth_page_indicator: ^1.0.0+2
  win32_registry: ^1.0.2
  username_gen: ^1.0.4
  file_picker: ^5.0.1
  desktop_drop: ^0.3.3
  animations: ^2.0.3
  flutter_bloc: ^8.1.1
  msix:
    git:
      url: https://github.com/nocab-transfer/msix.git
      ref: main
  path: ^1.8.2
  flutter_platform_alert: ^0.3.0
  url_launcher: ^6.1.6
  easy_localization: ^3.0.2-dev
  http: ^0.13.5
  flutter_animate: ^2.0.1
  isar: ^3.0.2
  isar_flutter_libs: ^3.0.2
  uuid: ^3.0.6
  package_info_plus: ^3.0.2
  flutter_markdown: ^0.6.13
  markdown: ^6.0.1
  io: ^1.0.3
  nocab_core:
    git:
      url: https://github.com/nocab-transfer/nocab-core.git
  path_provider: ^2.0.11
  share_plus: ^6.3.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1  
  isar_generator: ^3.0.5
  build_runner: ^2.3.3
  
msix_config:
  display_name: NoCab Desktop
  publisher_display_name: berkekbgz
  identity_name: NoCabTransfer.Desktop
  capabilities: "internetClient"
  logo_path: assets/logo/logo.png
  languages: en-us, tr-tr
  publisher: berkekbgz
  version: 1.3.4.0
  execution_alias: nocab

  context_menu_directory_id: NoCabContextMenu
  context_menu_directory_clsid: FDDDFECC-B9ED-4837-AF07-BD891CD8B6F4
  context_menu_background_id: NoCabContextMenu
  context_menu_background_clsid: FDDDFECC-B9ED-4837-AF07-BD891CD8B6F4
  context_menu_files_id: NoCabContextMenu
  context_menu_files_clsid: FDDDFECC-B9ED-4837-AF07-BD891CD8B6F4
  com_surrogate_server_class_id: FDDDFECC-B9ED-4837-AF07-BD891CD8B6F4
  com_surrogate_server_name: NoCabContextMenu.dll

flutter:
  uses-material-design: true
  generate: true
  assets:
  - assets/images/
  - assets/context_menu_icon/icon.ico
  - assets/logo/logo.png
  - assets/i18n/
  fonts:
    - family:  CustomIcons
      fonts:
        - asset: assets/fonts/CustomIcons.ttf